@import '../base';

.header {
	width: 100%;
	height: 50px;
	background-color: $yellow;
}

.header__inner {
	display: flex; 
	flex-flow: row nowrap;
	justify-content: flex-start; 
	align-items: center;
	margin: 0 auto; 
	width: $desktopWidth;
}

.header__logo{
	padding: 7px 0;
	margin: 0 27px 0 0;
}

.header__search-form {
	padding: 7px 0; 
}

