<!doctype html>
<html lang="es-AR">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{> page/title}}</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body class="page">
	<div class="page__inner">
		{{{body}}}
	</div>
	<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>
