{{#if renderSearchForm}}
	{{> header}}
{{/if}}
<main class="main">
	<header class="main__header">
		{{#if breadcrumbs}}
		{{> breadcrumbs container='main'}}
		{{/if}}
	</header>
	{{> item container='main'}}
</main>
