.breadcrumbs {
  width: 100%;
  height: auto; }

.breadcrumbs__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.breadcrumbs__elem {
  display: inline-block; }

.breadcrumbs__link {
  text-decoration: none; }

.breadcrumbs__name {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #999999; }

.breadcrumbs__elem:not(:last-child) .breadcrumbs__name:after {
  content: ">";
  display: inline-block;
  padding: 0 7.5px;
  position: relative;
  top: 1px;
  font-size: 14px;
  color: #999999; }

.breadcrumbs__elem:last-child .breadcrumbs__name {
  color: #666666;
  font-weight: bold; }

.header {
  width: 100%;
  height: 50px;
  background-color: #ffe600; }

.header__inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  width: 960px; }

.header__logo {
  padding: 7px 0;
  margin: 0 24px 0 0; }

.page {
  margin: 0;
  background-color: #EEEEEE; }

.main {
  width: 980px;
  margin: 0 auto; }

.main__header {
  padding: 16px 0; }

.search-form {
  display: flex;
  flex-flow: row nowrap;
  justify-contents: flex-start;
  align-items: flex-start; }

.search-form__input {
  display: inline-block;
  width: 820px;
  height: 36px;
  padding: 0 0 0 24px;
  border: 0;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  font-weight: 100; }

.search-form__submit-button {
  display: inline-block;
  width: 36px;
  height: 36px;
  padding: 9px;
  border: 0;
  border-radius: 0 4px 4px 0;
  background-color: #EEEEEE; }

.submit-button__icon {
  width: 18px;
  height: 18px; }

.header__search-form {
  padding: 7px 0; }

.header__inner {
  margin: 0 auto;
  width: 960px; }

.logo {
  display: inline-block;
  width: 53px;
  height: 36px;
  background: url("/images/Logo_ML.png") no-repeat 0 7px;
  text-indent: -9999px; }
