@import 'base';

.header {
	width: 100%;
	height: 50px;
	background-color: $yellow;

	&__inner {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-items: center;
		margin: 0 auto;
		width: $desktopWidth;
	}

	&__logo{
		padding: 7px 0;
		margin: 0 27px 0 0;
	}

	&__search-form {
		padding: 7px 0;
	}
	
}
