<header role="banner" class="header">
	<div class="header__inner">
		<a class="header__logo logo" href="/">
			MercadoLibre - Donde comprar y vender de todo
		</a>		
		<form role="search" action="/items" method="GET" class="header__search-form search-form">
			<input value='{{value}}' name='search' placeholder="{{placeholder}}" tabindex="1" type="text" class="search-form__input" />
			<button type="submit" class="search-form__submit-button submit-button">
				<i class="submit-button__icon">
					<img class="submit-button__icon-img" src="{{iconImgPath}}"/>
				</i>	
			</button>
		</form>
	</div>
</header>
